.Cart{
    margin-top: 100px;
}
.Cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw,12px);
}
.Cart-items-item{
    margin: 10px 0px;
    color: black;
} 
.Cart-items-item img{
    width: 50px;
}
.Cart hr{
    height: 1px;
    border: none;
    background-color: #e2e2e2;
}
.cross{
    cursor: pointer;
}
.cart-bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw,20px);
}
.cart-total {
    flex: 1;
    width: 100%;
    flex-direction: column;
    display: flex;
    gap: 20px;
}
.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}
.cart-total hr{
    margin: 10px 0px;
}
.cart-total button{
    border: none;
    color: white;
    background-color: orange;
    width: max(15vw,200px);
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
}
.p{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-left: 10px;
    margin: 20px;
}
.cart-promocode{
    flex: 1;
}
.cart-promocode p{
    color: #555;
}
.cart-promocode-input{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
}
.cart-promocode-input input{
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}
.cart-promocode-input button{
    width: max(10vw,150px);
    padding: 12px 5px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
@media (max-width: 1200px) {
    .Cart-items-title {
        grid-template-columns: repeat(10, 0.5fr);
    }
}

@media (max-width: 900px) {
    .Cart-items-title {
        grid-template-columns: repeat(9, 0.5fr);
    }
}

@media (max-width: 750px) {
    .Cart-items-title {
        grid-template-columns: repeat(7, 2fr); /* Reduce to two columns for small screens */
    }
    
    .cart-bottom {
        flex-direction: column; /* Stack elements vertically */
    }
    
    .cart-promocode {
        justify-content: flex-start;
    }

    .cart-total button {
        width: 100%; /* Make button full width on small screens */
    }
}


